@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  background-color: #f1f1f3;
}
main {
  width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
}
.display-flex {
  display: flex;
}

/* Banner Area Start */

.banner {
  padding: 80px 65px;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: #c6e4d6;
  border-radius: 24px;
}
.banner > div > p {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
}
.banner > div > h1 {
  font-size: 56px;
  margin-top: 16px;
}
.banner > div > button {
  color: #ffffff;
  background-color: #006a50;
  border: none;
  font-size: 18px;
  padding: 17px 34px;
  border-radius: 8px;
  margin-top: 24px;
}
.banner > div > button:hover {
  cursor: pointer;
  background-color: rgba(0, 106, 80, 0.75);
  transition: 0.15s;
}
.banner > img {
  height: 400px;
  object-fit: contain;
}

/* The Vision Of Future section start */

.voff {
  margin-top: 80px;
}
.voff > h2 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
}
.voff > p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
  margin-top: 24px;
}
.voff > div {
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
}
.voff section {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 325px;
  padding: 32px;
  border-radius: 16px;
}
.voff section div > h3 {
  font-size: 20px;
  margin-top: 24px;
}
.voff section div > p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
  margin-top: 12px;
}
.voff section > button {
  color: #ffffff;
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  width: 122px;
}
.voff section > button {
  cursor: pointer;
  transition: 0.15s;
}

.card1 {
  background-color: rgba(84, 144, 245, 0.2);
}
.card1 > button {
  background-color: #5490f5;
}
.card1 > button:hover {
  background-color: rgba(84, 144, 245, 0.75);
}
.card2 {
  background-color: #c6e4d6;
}
.card2 > button {
  background-color: #09a15c;
}
.card2 > button:hover {
  background-color: rgba(0, 106, 80, 0.75);
}
.card3 {
  background-color: #f7ebcf;
}
.card3 > button {
  background-color: #ffc239;
}
.card3 > button:hover {
  background-color: rgba(255, 194, 57, 0.75);
}

/* Dr. Mohammad Younus statement  Section */

.proud {
  background-color: #ffffff;
  background-image: url('images/quote-bg.png');
  background-repeat: no-repeat;
  padding: 48px 24px;
  border-radius: 16px;
  margin-top: 32px;
}
.proud > p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}
.proud > h3 {
  font-size: 20px;
  margin-top: 12px;
  line-height: 1.5;
}
.proud > .last {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4px;
  line-height: 1.5;
}

/* Recent News section start */

.recent {
  margin-top: 80px;
}
.recent > h2 {
  font-size: 40px;
}
.recent > p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
  margin-top: 24px;
}
.recent > div {
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}
.recent > div section {
  background-color: #ffffff;
  padding: 48px;
  border-radius: 24px;
}
/* News 1 and 2 */
.news1,
.news2 {
  align-items: center;
  gap: 32px;
}
.news1 > img,
.news2 > img {
  border-radius: 24px;
}
.news1 > div h3,
.news2 > div h3 {
  font-size: 32px;
}
.news1 > div img,
.news2 > div img {
  margin-top: 12px;
  display: block;
}
.published {
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
}
.news1 > div p,
.news2 > div p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
  margin-top: 12px;
}
.news1 > div button,
.news2 > div button {
  color: #ffffff;
  font-size: 18px;
  padding: 13px 26px;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
}
.news1 > div button:hover,
.news2 > div button:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(0, 106, 80, 0.75);
}

/* Donate Today Section */
.donate {
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
}
.donate > h2 {
  font-size: 40px;
}
.donate > p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
  text-align: center;
  margin-top: 32px;
}
.donate > div {
  color: rgba(0, 0, 0, 0.8);
  font-size: 40px;
  font-weight: bold;
  justify-content: space-around;
  gap: 24px;
  margin-top: 32px;
}
.donate > div p {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 16px;
}
.donate > div p:hover {
  color: #ffffff;
  cursor: pointer;
  transition: 0.15s;
  background-color: #006a50;
}
.donate > div .unique {
  background-color: #c6e4d6;
}
.donate > input {
  text-align: center;
  height: 64px;
  width: 1032px;
  border: none;
  margin-top: 32px;
}
.donate > input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
.donate > button {
  color: #ffffff;
  font-size: 18px;
  padding: 17px 34px;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
}
.donate > button:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(0, 106, 80, 0.75);
}

/* Newsletter Section */

.letter {
  background-color: #c6e4d6;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 100px;
  margin-top: 80px;
}
.letter > h2 {
  font-size: 40px;
}
.letter > p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
  text-align: center;
  margin-top: 16px;
}
.letter > div {
  margin-top: 24px;
}
.letter > div input {
  width: 600px;
  padding: 18px 40px;
  margin-right: -5px;
  border: none;
  border-radius: 8px 0 0 8px;
}
.letter > div input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.letter > div button {
  color: #ffffff;
  font-size: 18px;
  padding: 17px 34px;
  background-color: #006a50;
  border: none;
  border-radius: 0 8px 8px 0;
}
.letter > div button:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(0, 106, 80, 0.75);
}
.letter > .last {
  margin-top: 24px;
}
